.body {
	width: 1579px;
	height: 688px;
	margin: 0;
	background-color: #f6f2f2
}
.header {
	background-color: #000000;
	min-height: 89px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.header a{
	padding:33px 23px 34px 24px;
	color: #e0e0e0;
	font-family: "Open Sans";
	text-transform: uppercase;
	font-weight: 700;
}
.header a:hover{
	background-color: #ff0000;
}

.intro {
	background-color: #f6f2f2;
	width: 1579px;
}
.left_side {
	display: inline-block;
	
}
.intro_wrapper {
	margin-left: 164px;
	margin-top: 101px;
	margin-bottom: 0 auto;
	width: 618px;
	height: 117px;
	vertical-align: top;
}
.intro_wrapper h1 {

	align-items: center;

	font-family: Open Sans;
	font-style: normal;
	line-height: 72px;
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.intro_text {
	margin-left: 165px;
	margin-top: 36.52px;
	width: 544.85px;
	height: 73px;
	

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	align-items: center;

	color: #000000
}
.button {
	margin-top: 63.48px;
	margin-left: 163px;
}
.button > a {
	width: 227px;
	height: 55px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18.0412px;
	line-height: 34px;
	align-items: center;
	letter-spacing: 0.3195px;
	padding: 14.39px 50.65px 16.61px 63px;

	color: #ffffff;
	background-color: #ff3f40;
	opacity: 0.8;
}
.right_side {
	display: inline-block;
	vertical-align: top;
	
}
.intro_image {
	margin-left: 82px;
	margin-top: 103px;
	margin-bottom: 111px;
}